In [ ]:
#pip install --upgrade finance-datareader

In [1]:
import FinanceDataReader as fdr
import yfinance as yf
from pandas_datareader import data as pdr
import numpy as np
import pandas as pd
import datetime
from tqdm import tqdm
import time

In [2]:
tse_stocks = fdr.StockListing('TSE')[:40]
display(tse_stocks)

100%|██████████████████████████████████████| 3926/3926 [00:06<00:00, 604.80it/s]

   Symbol                                 Name           Industry IndustryCode
0    7203                    Toyota Motor Corp       자동차 및 자동차 부품       531010
1    6758                      Sony Group Corp     컴퓨터, 전화 및 가전제품       571060
2    6861                         Keyence Corp  건설장비 및 대형차, 기차, 배       521020
3    9432  Nippon Telegraph and Telephone Corp             통신 서비스       574010
4    8306   Mitsubishi UFJ Financial Group Inc                 은행       551010
5    9984                  SoftBank Group Corp             통신 서비스       574010
6    9433                            KDDI Corp             통신 서비스       574010
7    8035                   Tokyo Electron Ltd       반도체 및 반도체 장비       571010
8    6098              Recruit Holdings Co Ltd        전문 및 상업 서비스       522030
9    7974                      Nintendo Co Ltd              레저 상품       532050
10   4661                 Oriental Land Co Ltd        호텔 및 엔터테인먼트       533010
11   4063            Shin-Etsu Chemical Co Ltd                 화학       511010
12   4519         Chugai Pharmaceutical Co Ltd                 제약       562010
13   9434                        SoftBank Corp             통신 서비스       574010
14   8058                      Mitsubishi Corp        다양한 산업재 도매업       522020
15   8001                          Itochu Corp        다양한 산업재 도매업       522020
16   9983                Fast Retailing Co Ltd             전문품 상점       534030
17   6367                Daikin Industries Ltd  건설장비 및 대형차, 기차, 배       521020
18   4502         Takeda Pharmaceutical Co Ltd                 제약       562010
19   7267                   Honda Motor Co Ltd       자동차 및 자동차 부품       531010
20   4568                Daiichi Sankyo Co Ltd                 제약       562010
21   6501                          Hitachi Ltd              복합 기업       544010
22   6902                           Denso Corp       자동차 및 자동차 부품       531010
23   8316  Sumitomo Mitsui Financial Group Inc                 은행       551010
24   8031                      Mitsui & Co Ltd        다양한 산업재 도매업       522020
25   6981          Murata Manufacturing Co Ltd  건설장비 및 대형차, 기차, 배       521020
26   6594                           Nidec Corp  건설장비 및 대형차, 기차, 배       521020
27   3382            Seven & i Holdings Co Ltd          식품 및 약품소매       543010
28   7741                            Hoya Corp       헬스케어 장비 및 용품       561010
29   8766            Tokio Marine Holdings Inc                 보험       553010
30   6273                             SMC Corp  건설장비 및 대형차, 기차, 배       521020
31   2914                    Japan Tobacco Inc            식품 및 담배       541020
32   6954                           Fanuc Corp  건설장비 및 대형차, 기차, 배       521020
33   7751                            Canon Inc               사무기기       571050
34   8411           Mizuho Financial Group Inc                 은행       551010
35   6702                          Fujitsu Ltd      소프트웨어 및 IT서비스       572010
36   4689                      Z Holdings Corp      소프트웨어 및 IT서비스       572010
37   4503                  Astellas Pharma Inc                 제약       562010
38   4901               Fujifilm Holdings Corp       헬스케어 장비 및 용품       561010
39   7182               Japan Post Bank Co Ltd                 은행       551010

In [3]:
toyota = pdr.get_data_yahoo("7203.T", start = '2009-01-01', end = '2020-09-30')
display(toyota)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2009-01-05,608.000000,602.000000,606.000000,602.000000,26938500.0,397.632904
2009-01-06,610.000000,608.000000,608.000000,610.000000,42170000.0,402.917023
2009-01-07,640.000000,610.000000,610.000000,640.000000,82994000.0,422.732574
2009-01-08,640.000000,628.000000,640.000000,628.000000,62233500.0,414.806305
2009-01-09,628.599976,614.000000,628.599976,614.000000,48674500.0,405.559052
...,...,...,...,...,...,...
2020-09-24,1408.400024,1385.599976,1403.599976,1385.599976,24755500.0,1332.512329
2020-09-25,1413.000000,1398.000000,1401.599976,1406.199951,25681000.0,1352.322998
2020-09-28,1435.800049,1399.400024,1409.400024,1435.800049,37334000.0,1380.789062
2020-09-29,1432.000000,1413.599976,1419.800049,1422.599976,29231000.0,1369.048218
2020-09-30,1415.800049,1385.800049,1402.000000,1386.400024,27261500.0,1334.210938

In [4]:
sony = pdr.get_data_yahoo("6758.T", start = '2009-01-02', end = '2020-09-30')
display(sony)

              High     Low    Open   Close      Volume    Adj Close
Date
2009-01-05  1995.0  1946.0  1995.0  1970.0   4825700.0  1737.334473
2009-01-06  2120.0  2085.0  2085.0  2120.0  16055600.0  1869.619263
2009-01-07  2305.0  2120.0  2120.0  2305.0  18909700.0  2032.769287
2009-01-08  2305.0  2200.0  2305.0  2200.0  13346700.0  1940.170776
2009-01-09  2202.0  2195.0  2202.0  2195.0   9956400.0  1935.760986
...            ...     ...     ...     ...         ...          ...
2020-09-24  8233.0  8155.0  8173.0  8155.0   5413700.0  8068.416016
2020-09-25  8209.0  8100.0  8192.0  8100.0   6306500.0  8013.999512
2020-09-28  8179.0  8083.0  8130.0  8179.0   4936300.0  8092.161621
2020-09-29  8244.0  8161.0  8191.0  8200.0   4755200.0  8137.812012
2020-09-30  8199.0  8022.0  8196.0  8032.0   5194300.0  7971.085938

[2892 rows x 6 columns]

In [5]:
def preprocess(df: pd.DataFrame, tic: str)-> pd.DataFrame:
    df.reset_index(inplace=True)
    df['tic'] = tic
    df.rename(columns={'Date': 'datadate'}, inplace=True)
    df['datadate'] = df['datadate'].apply(lambda x: str(x))
    df.datadate.replace('-','',regex=True, inplace=True)
    df.datadate.replace('00:00:00','',regex=True, inplace=True)
    df.rename(columns={'Open': 'prcod'}, inplace=True)
    df.rename(columns={'Close': 'prccd'}, inplace=True)
    df.rename(columns={'High': 'prchd'}, inplace=True)
    df.rename(columns={'Low': 'prcld'}, inplace=True)
    df.rename(columns={'Volume': 'cshtrd'}, inplace=True)
    df['ajexdi'] = 1
    df = df[['datadate', 'tic', 'prccd','ajexdi', 'prcod', 'prchd', 'prcld', 'cshtrd']]
    return df

In [7]:
import collections
stocks = collections.defaultdict()
cnt = 0
dayNumber = len(pdr.get_data_yahoo('7203.T', '2009-01-01', '2020-09-30'))
for i in tqdm(range(36)):
    #tmp = fdr.DataReader(tse_stocks.Symbol[i], '2009-01-01', '2020-08-31',exchange='TSE')
    #dayNumber = len(fdr.DataReader('7203', '2009-01-01', '2020-08-31',exchange='TSE'))
    tmp = pdr.get_data_yahoo(tse_stocks.Symbol[i]+'.T', '2009-01-01', '2020-09-30')
    if len(tmp)==dayNumber:
        stocks[i+1] = preprocess(tmp, tse_stocks.Symbol[i])
    else:
        stocks[i+1] = pd.DataFrame()
        cnt += 1
    time.sleep(0.5)
print(cnt)

100%|███████████████████████████████████████████| 36/36 [01:03<00:00,  1.76s/it]

6

In [8]:
tse30 = pd.DataFrame()
tse30Index = 0
cnt = 0
for i in range(1, len(stocks)+1):
    tse30 = pd.concat([tse30,stocks[i]])
    if stocks[i].empty == False:
        cnt += 1
        tse30Index = tse30Index + stocks[i].prccd

tse30Index = tse30Index/30
tse30.reset_index(drop=True,inplace=True)
tse30.to_csv('/home/kongminseok/hdd/research/DRLFAST/data/tse_30_2009_2020.csv',encoding='utf-8-sig')
display(tse30)

,datadate,tic,prccd,ajexdi,prcod,prchd,prcld,cshtrd
0,20090105,7203,602.0,1,606.000000,608.000000,602.0,26938500.0
1,20090106,7203,610.0,1,608.000000,610.000000,608.0,42170000.0
2,20090107,7203,640.0,1,610.000000,640.000000,610.0,82994000.0
3,20090108,7203,628.0,1,640.000000,640.000000,628.0,62233500.0
4,20090109,7203,614.0,1,628.599976,628.599976,614.0,48674500.0
...,...,...,...,...,...,...,...,...
86755,20200924,6702,14300.0,1,14250.000000,14460.000000,14215.0,786600.0
86756,20200925,6702,14160.0,1,14300.000000,14330.000000,14150.0,691000.0
86757,20200928,6702,14255.0,1,14355.000000,14365.000000,14010.0,713000.0
86758,20200929,6702,14670.0,1,14335.000000,14675.000000,14280.0,909300.0
86759,20200930,6702,14340.0,1,14645.000000,14675.000000,14340.0,890200.0

In [9]:
tse30I = pd.DataFrame(columns=['Date', 'Close'])
tse30
tse30I.Date = sorted(tse30.datadate.unique())
format ='%Y%m%d '
tse30I.Date = tse30I.Date.apply(lambda x:datetime.datetime.strptime(x,format))
tse30I.Close = tse30Index
tse30I.to_csv('/home/kongminseok/hdd/research/DRLFAST/data/tse30Average.csv',index=False)
display(tse30I)

           Date         Close
0    2009-01-05   3689.893935
1    2009-01-06   3732.685309
2    2009-01-07   3800.996466
3    2009-01-08   3616.814459
4    2009-01-09   3588.868732
...         ...           ...
2887 2020-09-24  11445.223333
2888 2020-09-25  11500.069998
2889 2020-09-28  11617.293335
2890 2020-09-29  11789.689999
2891 2020-09-30  11580.300001

[2892 rows x 2 columns]